html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

body {
    background-color: chartreuse;
}

#exitInspectBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}
